@page "/login"
@inject NavigationManager Navigation

<h3>Login</h3>

<form method="post" action="/auth/login">
    <div>
        <input name="username" placeholder="Username" />
    </div>

    <div>
        <input type="password" name="password" placeholder="Password" />
    </div>

    <input type="hidden" name="returnUrl" value="@ReturnUrl" />

    <button type="submit">Login</button>
</form>

@code {
    private string ReturnUrl = "/";

    protected override void OnInitialized()
    {
        var uri = new Uri(Navigation.Uri);

        if (Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query)
            .TryGetValue("ReturnUrl", out var returnUrl))
        {
            ReturnUrl = returnUrl!;
        }
    }
}
