@page "/loginold"
@rendermode InteractiveServer

@using BlazorAppWithJWT.Authentication
@using BlazorAppWithJWT.Services
@using Microsoft.AspNetCore.Components.Authorization

@inject LoginService LoginService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<h3>Login</h3>

<div>
    <input @bind="username" placeholder="Username" />
</div>

<div>
    <input type="password" @bind="password" placeholder="Password" />
</div>

<div>
    <button @onclick="HandleLogin">Login</button>
</div>

@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}

@code {
    private string? username;
    private string? password;
    private string? error;

    private async Task HandleLogin()
    {
        error = null;

        var success = await LoginService.LoginAsync(username, password);

        if (!success)
        {
            error = "Invalid login";
            return;
        }

        // ((JwtAuthenticationStateProvider)AuthStateProvider)
        //     .MarkUserAsAuthenticated();

        Navigation.NavigateTo("/");
    }
}
